.post {
  border: 1px solid #000;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex; /* Utilizar Flexbox */
  flex-direction: column; /* Cambiado a columna para incluir la sección de comentarios */
  height: auto; /* Altura automática para ajustarse al contenido */
  box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}

.post-content {
  display: flex;
  width: 100%; /* Ajustar al 100% del contenedor */
}

.post-image {
  display: flex;
  align-items: center;  /* Alineación vertical */
  width: 25%; /* Ocupa el 25% del contenedor */
  margin-right: 10px; /* Espacio entre la imagen y el contenido */
}

.post-image img {
  width: 100%;
  max-height: 150px;
  height: 100%; /* Ajustar la altura al contenido */
  border-radius: 5px;
  object-fit: cover;
}

.post-text {
  flex: 1; /* Ocupa el resto del espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4%;
}

.post p {
  margin: 0;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header .profile-picture {
  width: 40px; /* Tamaño pequeño */
  height: 40px; /* Tamaño pequeño */
  border-radius: 50%; /* Forma redonda */
  margin-right: 10px;
}

.post-name {
  font-size: 1.2em;
}

.post-date {
  font-size: 0.8em;
  color: #888;
}

.post-likes-comments {
  display: flex;
  align-items: center;
}

.post-likes, .post-comments {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Espacio entre el corazón y el icono de comentario */
}

.heart-icon, .comment-icon {
  cursor: pointer;
  margin-right: 5px;
}

.comments-section {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.comment {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.delete-comment-button {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.delete-comment-button:hover {
  background-color: #c82333;
}


.comment-form {
  display: flex;
  margin-top: 10px;
}

.comment-form input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.comment-form button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}
