/* Estilo principal para cada post */
.post {
  border: 1px solid #000;
  padding: 15px;
  margin: 10px 5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #e0e9f7, #73b6f9);
  display: flex;
  flex-direction: column;
  height: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Contenedor del contenido del post */
.post-content {
  display: flex;
  width: 100%;
}

/* Estilo para la imagen del post */
.post-image {
  display: flex;
  align-items: center;
  width: 25%;
  margin-right: 10px;
}

.post-image img {
  width: 100%;
  max-height: 150px;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #000;
  object-fit: cover;
}

/* Contenedor del texto del post */
.post-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4%;
}

/* Párrafos del post */
.post p {
  margin: 0;
  font-weight: normal;
}

/* Encabezado del post (nombre y foto) */
.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.post-header .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Nombre del usuario */
.post-name {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Concert One", sans-serif;
}

/* Comentario del post */
.post-comment {
  font-weight: normal;
}

/* Fecha del post */
.post-date {
  font-size: 0.8em;
  color: #888;
  font-weight: normal;
}

/* Contenedor de likes y comentarios */
.post-likes-comments {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.post-likes, .post-comments {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

/* Iconos de like y comentario */
.heart-icon, .comment-icon {
  cursor: pointer;
  margin-right: 5px;
  font-weight: normal;
}

/* Sección de comentarios */
.comments-section {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #9187fd;
}

/* Estilo para cada comentario */
.comment {
  padding: 5px 0;
  border-bottom: 1px solid #9187fd;
  position: relative;
}

.comment strong {
  font-weight: bold;
}

.comment p {
  font-weight: normal;
}

/* Botón para borrar comentario */
.delete-comment-button {
  position: absolute;
  width: 7em;
  right: 0.2px;
  top: -4px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.delete-comment-button:hover {
  background-color: #c82333;
}

/* Formulario de comentario */
.comment-form {
  display: flex;
  margin-top: 10px;
}

.comment-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

/* Botón de enviar comentario */
.comment-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.comment-form button:hover {
  background-color: #0056b3;
}
