/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

button {
  padding: 10px 20px;
  margin: 6px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos del botón "Borrar cuenta" */
.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: darkred;
}


